@using System.Web.Optimization
@{
    Layout = null;
}

@helper SelectedTabClass(string tabName)
{

    if (tabName == ViewBag.SelectedTab)
    {
        @:active
    }

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anasayfa</title>
      @Styles.Render("~/styles")
    <link href="~/Content/Styles/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.RouteUrl("Anasayfa")">Cari Hesap</a>

                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="@SelectedTabClass("anasayfa")"><a href="@Url.RouteUrl("Anasayfa")">Anasayfa <span class="sr-only">(current)</span></a></li>
                        <li class="@SelectedTabClass("musteriler")"><a href="@Url.Action("Index", "Musteriler")">Musteriler</a></li>


                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li><a href="@Url.Action("Index", "Kullanicilar", new { area="admin"})">Admin Panele Git</a></li>
                            }
                            <li><a href="@Url.RouteUrl("Logout")">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.RouteUrl("Login")">Login</a></li>
                        }





                    </ul>

                </div>

            </div>
        </nav>
        <div>
            @RenderBody()

            
        </div>
    </div>



    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

    @Scripts.Render("~/scripts")
    

</body>
</html>
