@model CariTakip.ViewModels.MusterilerIndex



    <h1 style="text-align:center;color:#ffffff">Müşteriler</h1>
<hr />
 
        @using(Html.BeginForm("Index","Musteri",FormMethod.Get))
        {
            <div class="panel panel-default">
                <div class="panel-heading">Arama İşlemleri</div>
                <div class="panel-body" style="background-color:burlywood">

                    <div class="form-group" style="height : 45px;">

                        @Html.RadioButton("SecilenArama", "Ad", true)  @Html.Label("Ad ile arama")
                        @Html.RadioButton("SecilenArama", "FirmaAd")  @Html.Label("Firma adı ile arama")
                        @Html.RadioButton("SecilenArama", "TcNo") @Html.Label("TC No ile arama")
                        @Html.RadioButton("SecilenArama", "VergiNo") @Html.Label("Vergi No ile arama")
                        @Html.RadioButton("SecilenArama", "Adres") @Html.Label("Adres ile arama")
                        <br />



                        @Html.Label("Arama:")
                        @Html.TextBox("arama")
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="submit" value="Ara" class="btn btn-success btn-sm btn-info" >

                    </div>
                </div>
              </div>
           
             
        }
      
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Yeni Müşteri Ekle
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("FirmaYeni")">Şirket Adına Müşteri Ekle</a></li>
                <li><a href="@Url.Action("SahisYeni")">Şahıs Adına Müşteri Ekle</a></li>
            </ul>
        </div>

        <table class="table table-striped" style="background-color:burlywood">
            <thead>
                <tr style="color:#052b48">
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Firma Adı</th>
                    <th>Tc</th>
                    <th>Vergi No</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Adres</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var musteri in Model.Musteriler)
                {
                    <tr>
                        <td>@musteri.Ad</td>
                        <td>@musteri.Soyad</td>
                        <td>@musteri.FirmaAdi</td>
                        <td>@musteri.Tc</td>
                        <td>@musteri.VergiNo</td>
                        <td>@musteri.Tel</td>
                        <td>@musteri.Email</td>
                        <td>@musteri.Adres</td>
                        <td>

                            <div class="btn btn-group btn-group-xs">
                                @if (musteri.SilindiMi)
                                {
                                    <a href="@Url.Action("Kurtar", new { musteri.Id })" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus-sign"></i>Kurtar</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Duzenle", new {musteri.Id })" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i>Düzenle</a>
                                    <a href="@Url.Action("CopeAt",new {musteri.Id})" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove-sign"></i>Çöpe At</a>


                                    <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("Sil", new { musteri.Id })" data-post="Silmek istiyor musunuz? :@musteri.Ad @musteri.Soyad">
                                                <i class="glyphicon glyphicon-remove "></i>Silme Islemi
                                            </a>
                                        </li>
                                    </ul>
                                      <a href="@Url.Action("KasaIndex", new { musteri.Id })" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-credit-card"></i>Kasa</a> 
                                }
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
          @if (Model.Musteriler.Count() < 1)
          {
            <a href="#" class="btn btn-default disabled"><i class="glyphicon glyphicon-export"></i>Excel'e Çıkart</a>
          }
          else
          {
            <a href="@Url.Action("TumMusteriBilgileriniExcelleVer")" class="btn btn-default"><i class="glyphicon glyphicon-export"></i>Excel'e Çıkart</a>
          }


    