@model CariTakip.ViewModels.KasaIndex

<table align="right" style="width: 20%; height: 30px ; color:#ffffff">
    <tr>
        <td align="center">
            Dolar<br />
            &nbsp;@Model.DolarKurİslem()&nbsp; TL
        </td>
        <td align="center">
            Euro<br />
            &nbsp;@Model.EuroKurİslem()&nbsp; TL
        </td>
    </tr>
</table>
<h1 style="text-align:center;color:#ffffff;">Kasa Oluştur: @Model.MusteriAdi @Model.MusteriSoyadi  </h1>

<hr/>

<div class="btn-group pull-right">


    @if (Model.CariHesap.HasPreviousPage)
    {
        <a href="@Url.Action("KasaIndex", new { page = Model.CariHesap.PreviousPage(), Id = Model.MusteriID })" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-left"></i>Önceki Sayfa</a>
    }
    else
    {

        <a href="#" class="btn btn-default btn-sm disabled">
            <i class="glyphicon glyphicon-chevron-left"></i>Önceki Sayfa
        </a>
    }
    @if (Model.CariHesap.HasNextPage)
    {
        <a href="@Url.Action("KasaIndex", new { page = Model.CariHesap.NextPage(),Id=Model.MusteriID })" class="btn btn-default btn-sm">
            Sonraki Sayfa<i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
    else
    {
        <a href="#" class="btn btn-default btn-sm disabled">
           Sonraki Sayfa<i class="glyphicon glyphicon-chevron-right disabled"></i>
        </a>
    }
</div>



    <div class="btn btn-toolbar">
        <a href="@Url.Action("KasaYeni", "Musteriler", new { Model.MusteriID })" class=" btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Yeni Cari Ekle</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr style="color: #ffffff;" >
             
                <th>Tarih</th>
                <th>Saat</th>
                <th>Aciklama</th>
                <th>Verilen</th>
                <th>Alınan</th>
                <th>Türü</th>
                <th>Ödeme Şekli</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var carihesap in Model.CariHesap)
            {
                <tr style="color: #cbae48">
                   
                    <td>@carihesap.Tarih.ToString("MM/dd/yyyy")</td>
                    <td>@carihesap.Tarih.ToString("HH: mm :ss")</td>
                    <td>@carihesap.Aciklama</td>
                    <td>@carihesap.GirilenMiktar</td>
                    <td>@carihesap.CikanMiktar</td>
                 
                    <td>@carihesap.Tur.Adi</td>
                    <td>@carihesap.OdemeSekli.Adi</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                İşlem Seç
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">

                                <li><a href="@Url.Action("KasaDuzenle", "Musteriler", new { carihesap.Id })">Düzenle</a></li>
                                <li><a href="@Url.Action("KasaSil", "Musteriler", new { carihesap.Id })" data-post="@carihesap.Tarih Kayıtı silmek istiyor musunuz? ">Sil</a></li>
                                <li>
                                    
                                <a href="@Url.Action("KasaMakbuz", "Musteriler", new { carihesap.Id ,musteriId=Model.MusteriID})">Makbuz Al</a>
                                
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
<hr />

       @if (Model.CariHesap.Count()<1)
       {
             <a href="#" class="btn btn-default disabled"><i class="glyphicon glyphicon-export"></i>Excel'e Çıkart</a>
       }
       else
       {
            <a href="@Url.Action("KasaExcellCikart", "Musteriler", new { Model.MusteriID })" class="btn btn-default"><i class="glyphicon glyphicon-export"></i>Excel'e Çıkart</a>
       }
   
    <div class="btn-group pull-right">
        <div class="panel panel-default">
            <div class="panel-heading">Sonuç</div>
            <div class="panel-body" style="background-color:rgba(240, 179, 93, 0.75)">

                <div class="form-group">


                    Borç : [@Model.GirenMiktar&nbsp;TL] - Alınan :[@Model.CikanMiktar&nbsp; TL]<br />
                   
                        <b>Kalan Borç:</b> @Model.KalanMiktar <span>&nbsp;TL</span>

                </div>
            </div>

        </div>
    
    </div>
