@model CariTakip.ViewModels.MusterilerSahisYeni
<h1 style="text-align:center;color:#ffffff;">Yeni Müşteri Ekleme</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <hr />
    <div class="form-group">
        @Html.LabelFor(x => x.Tc, new { @style = "color:#ffffff" })
        @Html.TextBoxFor(x => x.Tc, new { @class = "form-control" , @maxlength = "11" , @placeholder = "Henüz bir TC no girilmedi." })
    </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Ad, new { @style = "color:#ffffff" })
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" , @maxlength = "50" , @placeholder = "Henüz bir Ad girilmedi." })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Soyad, new { @style = "color:#ffffff" })
            @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" , @maxlength = "50" , @placeholder = "Henüz bir Soyad girilmedi." })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Tel, new { @style = "color:#ffffff" })
            @Html.TextBoxFor(x => x.Tel, new { @class = "form-control" , @maxlength = "10" , @placeholder = "Henüz bir Telefon girilmedi." })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @style = "color:#ffffff" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", @maxlength = "100" , @placeholder = "Henüz bir Email girilmedi." })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Adres, new { @style = "color:#ffffff" })
            @Html.TextBoxFor(x => x.Adres, new { @class = "form-control", @placeholder = "Henüz bir Adres girilmedi." })
        </div>
        <hr />
        <div class="form-group">
            <input type="submit" value="Muşteri Oluştur" class="btn btn-success" />

            <a href="@Url.Action("Index")" class="btn btn-primary pull-right">
                Geri Dön
            </a>
        </div>
}