@model CariTakip.Areas.Admin.ViewModels.KullanicilarIndex
         <h1 style="text-align:center;color:#ffffff;">KULLANICILAR</h1>
<hr />



    <div class="btn btn-toolbar">
        <a href="@Url.Action("Yeni")" class=" btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Yeni Kullanıcı</a>
    </div>
    <table class="table table-striped" style="background-color:rgba(216, 171, 134, 0.46)">
        <thead>
            <tr style="color:#052b48">
                <th>Adı</th>
                <th>Role</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kullanici in Model.Kullanicilar)
            {
                <tr>
                    <td>@kullanici.Adi</td>
                    <td>@kullanici.Rol.Adi</td>
                    <td>
                        <a href="@Url.Action("duzenle", new { @kullanici.Id })" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>Düzenle</a>
                        <a href="@Url.Action("sifredegistir", new { @kullanici.Id })" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-lock"></i>Şifre Değiştir</a>
                        <a href="@Url.Action("sil", new { @kullanici.Id })" class="btn btn-danger btn-xs" data-post="Silmek istiyor musunuz? :@kullanici.Adi"><i class="glyphicon glyphicon-remove"></i>Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


